<!-- Code adapted from https://www.djamware.com/post/5a0bb8f780aca75eadc12d6b/build-ionic-3-angular-5-calendar-ui-with-event-integration -->
<div class="calendar">
  <div class="calendar-header" color="dark">
    <ion-row class="calendar-month">
      <ion-col col-2 (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
      <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
      <ion-col col-2 (click)="goToNextMonth()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
    </ion-row>
  </div>
  <div class="calendar-body">
    <ion-grid>
      <ion-row class="calendar-weekday" color="secondary">
        <ion-col>Sun</ion-col>
        <ion-col>Mon</ion-col>
        <ion-col>Tue</ion-col>
        <ion-col>Wed</ion-col>
        <ion-col>Thu</ion-col>
        <ion-col>Fri</ion-col>
        <ion-col>Sat</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let day of calendarDays" [ngClass]="monthClasses(day)" (click)="trigger(day)" class="last-month">
          <span [class.currentDate]="today.valueOf() == day.valueOf()">{{day.getDate()}}</span>
          <br>
          <span>{{ number(events, day) }}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
