<!--
  Generated template for the DeviceInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>DeviceInfo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>Device Summary:</h2>
  <dl *ngIf="device$ | async as device">
    <!--{{device | json}} Comment out just to see if it cleans it up
    This was just spitting out the raw JSON for no reason.
    -->
    <dt>Name:</dt>
    <dd>{{device.name}}</dd>
    <dt>Type:</dt>
    <dd>{{device.type}}</dd>
    <dt>Purpose:</dt>
    <dd>{{device.purpose}}</dd>
  </dl>
  <dl *ngIf="owner$ | async as owner">
    <!--{{owner | json}}  Experimental comment out-->
    <dt>Owned by:</dt>
    <dd>{{owner.name}}</dd>
  </dl>
  <div *ngIf="location$ | async as location">
    <map [location]="location"></map>
  </div>
</ion-content>
