<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Events</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-12 col-sm>
      <ion-item>
        <ion-label>View</ion-label>
        <ion-select [(ngModel)]="view">
          <ion-option value="month">Month</ion-option>
          <ion-option value="agenda">Agenda</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col col-12 col-sm>
      <ion-item>
        <ion-label>Range</ion-label>
        <ion-select [(ngModel)]="range" (ngModelChange)="rangeChange($event)">
          <ion-option value="5">5 Miles</ion-option>
          <ion-option value="10">10 Miles</ion-option>
          <ion-option value="20">20 Miles</ion-option>
          <ion-option value="50">50 Miles</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <span *ngIf="!sorted">
    No events near you.
  </span>
  <div *ngIf="mapped"> <!-- need an else -->
    <calendar color= "primary" *ngIf="view == 'month'" (select)="selectedDate($event)" [events]="mapped | async"></calendar>
  </div>
  <div *ngIf="sorted"> <!-- need an else -->
    <div *ngIf="view == 'agenda'">
      <event-item *ngFor="let event of (sorted | async)" [event]="event"></event-item>
    </div>
  </div>
</ion-content>
